<div class="add-form">
    <h3>Add new document</h3>
    <div class="form-container">
        <input type="text" name="author" placeholder="Author" #author required/> <br>
        <input type="text" name="title" placeholder="Title" #title required/> <br>
        <input type="number" name="number_of_pages" placeholder="Number of pages" #number_of_pages required/> <br>
        <input type="text" name="type" placeholder="Type" #type required/> <br>
        <input type="text" name="format" placeholder="Format" #format required/> <br>

        <div class="confirm-button">
            <button (click)="addDocument(author.value, title.value, number_of_pages.value, type.value, format.value)">Add</button>
            <button (click)="cancelAdd()">Cancel</button>
        </div>
    <div>
</div>